/* Inicio de documento CSS del proyecto */

/* Santiagoencodigo */

/* 13/03/2026 */

/* Instructora Angelica Triana */


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



/* Variables */
    :root {
    /* Tipografia */    
        --letter: font-family: "Lora", serif;
        
    /* Colores */
        --primery-color: gray;

    }

/* Estilos generales */

    *{
        box-sizing: border-box;
        margin:0;
        padding: 0;
    }
    /* clases especiales*/
    .borde{
    border:1px solid gray;
    }

    .titulo{
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: rgba(0,0,0);
        font-family: var(--letter);
        color:#fff;
        text-align: center;
        font-size: 25px;/*puede ser 2em*/
    }

    .contenedor{
        width: 99%;
        max-width: 1280px;
        margin:auto; /*quede centrado*/
    }

    body{
        background-image: url('../img/fondo-pagina.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;/*la imagen se quede fija*/
        font-family: var(--letter);
    }

/*navegador*/

    nav{
        width: 100%;
        height: 50px;
        background-color: gray;
    }

    .logo{
        width: 20%;
        height: 100%;
        float: left;
        padding: 5px;
        text-align: center;
    }   

    .logo img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
    }

    .navegacion{
        width: 65%;
        height: 100%;
        float: left;
    }
    .ingreso{
        width: 15%;
        height: 100%;
        float: left;
    }

/*encabezado*/

header{
    width: 100%;
    height: 550px;
    /*depende del monitor*/
    background-image: url('../img/fondo-header.jpg');
    background-size:100% 100%;
}

main#portafolio{
    width: 100%;
    height: 550px;
    background: rgb(255,255,255,0.9);/*transparencia 0.4*/
}

.div-porta{
    width: 33.33%;
    height:100%;
    float: left;
    text-align: center;
    padding: 50px;
    font-size: 13px;
}
    .div-porta img{
        width: 150px;
        height: 150px;
        margin: 40px 0px 0px 0px;
        border-radius: 50%;
    }

    .div-porta p{
        margin: 40px 0px 0px 0px;
        text-align: justify;
    }

    section#quienes-somos{
        width: 100%;
        height: 550px;
    }
    .fila{
        width: 100%;
        height: 33.33%;
    }
    .col-ext{
        width: 40%;
        height: 100%;
      float: left;
    }
    .col-cen{
        width: 20%;
        height: 100%;
        float: left;
    }

    section#contactenos{
        width: 100%;
        height: 550px;
    }
    .div-contacto{
        width: 50%;
        height: 100%;
        float: left;
    }
    .div-arr{
        width: 100%;
        height:70%;
    }
    .div-aba{
        width: 100%;
        height:30%;
    }


/* Footer */
    footer{
    width: 100%;
    height: 50px;
    }